

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.progress-ring__circle {
    animation: App-logo-spin infinite 1.5s ease-out;
    /*transform-box: fill-box;*/
    transform-origin: center;
}